.detail{
    justify-content: flex-start;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

header i{
    font-size: 50px;
    margin: 0 15px;
    color: yellow;
}

header .logoName {
    font-size: 50px;
    color: white;
}

main {
    display: flex;
}

section {
    width: 50%;
    padding: 30px;
}

.info{
    display: block;
}

.info .year,
.info .rating,
.info .runtime,
.info .genre {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
}


.title{
    font-size: 40px;
}

.description {
    background-color: rgb(27, 26, 26);
    border : 3px solid white;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
}

.genres {
    display: flex;
    padding: 0;
    margin: 0;
}

.genre:hover{
    background-color: tomato;
}

.genre {
    list-style: none;
    padding: 3px;
    border: 4px solid white;
    border-radius: 10px;
}

.coverImg:hover{
    opacity: 1;
}

.coverImg {
    position:relative;
    top: -160px;
    right: -160px;
    opacity: 0.5;
}

.loader {
    position: absolute;
    top :45%;
    left :50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }